
/***********************portel begin***************************************/
.x-portal .x-panel-dd-spacer {
    margin-bottom:5px;
}

.x-portlet {
    margin-bottom:5px;
}

.x-column-inner
{

	}

/* Clean up the look of the portlets */
.x-portlet .x-panel-ml {
    padding-left:2px;
}
.x-portlet .x-panel-mr {
    padding-right:2px;
}
.x-portlet .x-panel-bl {
    padding-left:2px;
}

.x-portlet .x-panel-br {
    padding-right:2px;
}
.x-portlet .x-panel-body {
    background:white;
    overflow:auto;
}
.x-portlet .x-panel-mc {
    padding-top:2px;
}
.x-portlet .x-panel-bc .x-panel-footer {
    padding-bottom:2px;
}
.x-portlet .x-panel-nofooter .x-panel-bc {
    height:2px;
}

/********************portet end***********************************/

/********************icon begin **********************************/
.widget-mainPage
{
	background-image: url('../images/home.gif');
}
.widget-role
{
	background-image: url('../images/control.png');
}

.widget-unaccess
{
	background-image: url('../images/unaccess.png');
}

.widget-access
{
	background-image: url('../images/access.png');
}

.widget-lock
{
	background-image: url('../images/lock.png');
}

.widget-shared
{
	background-image: url('../images/share.gif');
}
.widget-config
{
	background-image: url('../images/widget.png');
}
.widget-layout
{
	background-image: url('../images/layout.gif');
}
.widget-exit
{
	background-image: url('../images/exit.gif');
}

.widget-skin
{
	background-image: url('../images/skin.gif');
}

.widget-menu
{
	background-image: url('../images/control.png');
}

.widget-theme
{
	background-image: url('../images/theme.png');
}

.add
{
   background: url('../images/add.gif') 0 6px no-repeat !important;
}

.widget-window
{
	background-image: url('../images/window.png');
}
.widget-weixin
{
 background-image: url('../images/weixin2.png');
}
.widget-password
{
	background-image: url('../images/key.png');
}
.widget-rtxlogo
{
	background-image: url('../images/rtxlogo.png');
}
.widget-mobilesoft
{
	background-image: url('../images/phone.png');
}

/********************icon end **********************************/
/*

.widget-menu-header  {

 background:url('../images/menubg.jpg') ;
}

.widget-menu-header .x-panel-header {

 background-image: url('../images/menu_bg.gif') ;
}

.widget-menu-header .meunitem-head .x-panel-header {
 height:27px;
 background-image: url('../images/menu_item_bg.gif');
 border-top-width:0px;
 border-bottom-width:0px;
  border-right-width:0px;
    border-left-width:0px;
}

.widget-menu-header .meunitem-head-active .x-panel-header {
 height:27px;
 background-image: url('../images/menu_item_active_bg.gif');
 border-top-width:0px;
 border-bottom-width:0px;
   border-right-width:0px;
   border-left-width:0px;
}


.widget-menu-header .x-panel-bwrap .x-panel-body{
	 background:transparent;
	}

.widget-menu-header .x-tree .x-panel-body{
    background:transparent;
}


.widget-menu-header .meunitem-head  .x-accordion-hd  {
    background-position:0px 0px;
}

.widget-menu-header .meunitem-head-active  .x-accordion-hd  {
    background-position:0px 0px;
}
*/








.mainFrame .x-tab-panel-header .x-tab-strip .x-tab-strip-top
{
	padding-left:20px !important;
}
	
.mainFrame_2 .x-tab-panel-header .x-tab-strip .x-tab-strip-top
{
	padding-left:0px !important;
}


.mainFrame ul.x-tab-strip-top{
	padding-left:20px !important;
	/*border-bottom: 1px solid #956100;*/
}

.mainFrame_2 ul.x-tab-strip-top{
	padding-left:0px !important;
	/*border-bottom: 1px solid #956100;*/
}


.x-tab-panel-header, .x-tab-panel-footer {
	background: #deecfd;
	border: 1px solid #8db2e3;
	border-bottom-width:0px;
    overflow:hidden;
    zoom:1;
}
/*
.portal-bar .x-toolbar .ytb-text
{
	color:#FFFFFF;
	}
.portal-bar .x-btn-text-icon .x-btn-center .x-btn-text
{
	color:#FFFFFF;
	}

*/


.mainFrame ul.x-tab-strip-top .x-tab-strip-over .x-tab-right {
	 background-position:0 -101px;
}
.mainFrame ul.x-tab-strip-top .x-tab-strip-over .x-tab-left {
	 background-position:right -401px;
}
.mainFrame ul.x-tab-strip-top .x-tab-strip-over .x-tab-strip-inner {
	 background-position:0 -251px;
}

.mainFrame ul.x-tab-strip-top .x-tab-strip-active .x-tab-right {
	background-position: 0 0;
}

.mainFrame ul.x-tab-strip-top .x-tab-strip-active .x-tab-left {
	background-position: right -301px;
}

.mainFrame ul.x-tab-strip-top .x-tab-strip-active .x-tab-strip-inner {
	background-position: 0 -151px;
}

.mainFrame_2 ul.x-tab-strip-top .x-tab-strip-over .x-tab-right {
	 background-position:0 -101px;
}
.mainFrame_2 ul.x-tab-strip-top .x-tab-strip-over .x-tab-left {
	 background-position:right -401px;
}
.mainFrame_2 ul.x-tab-strip-top .x-tab-strip-over .x-tab-strip-inner {
	 background-position:0 -251px;
}

.mainFrame_2 ul.x-tab-strip-top .x-tab-strip-active .x-tab-right {
	background-position: 0 0;
}

.mainFrame_2 ul.x-tab-strip-top .x-tab-strip-active .x-tab-left {
	background-position: right -301px;
}

.mainFrame_2 ul.x-tab-strip-top .x-tab-strip-active .x-tab-strip-inner {
	background-position: 0 -151px;
}



/*******************************deppon**********************************/

/*
body, td, div, p, span, textarea, select
{     font-size: 12px; font-family: verdana, arial, helvetica, sans-serif } 


.widget td 
{     margin: 0;     padding: 0;     border-bottom: 1px dotted #8ee38d; }

.widget a 
{     display: block;     text-decoration: none;     padding: 3px 5px 3px 10px;     height: 17px;     color: #000000; } 

.widget a:hover { background:#F0FDE2; } 

.menu-index td 
{     margin: 0;     padding: 0;      }

.menu-index a 
{     display: block;     text-decoration: none;     padding: 3px 5px 3px 10px;     height: 17px;     color: #000000; } 

.menu-index a:hover { background:#F0FDE2; }


*/



